  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    
      scroll-snap-type: y mandatory;
    }

body{
    font-family: 'Inter', sans-serif;
}
.hov{
    opacity: 0;
    transform: scale(0);
    animation: grow 2s ease-out 0.8 forwards;
}


.logotipo{
    width: 70px;
}


.it{
    display: flex;
  justify-content: center;
  align-items: center;

}
.flot{
    
    padding-left: 7%;
    width: 70%;
    top: -60px;
    position: relative;
   

}
.PBello{
    padding-top: 20px;
    margin: 5px;
}
.letter{
    color: rgb(2, 2, 2);
    font-size: 20px;
    
    text-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.letter:hover{
    color: rgb(255, 255, 255); 
    text-shadow: black 0.2em 0.2em 0.3em
}
.sps--blw{
    background-color: white;
    border-bottom: solid 1px;
    
}

nav.sps--abv .logotipo{
    width: 40%;
}

nav.sps--blw .nav-link{
    
        display: block;
        color: rgb(8, 8, 8);
      
        text-decoration: dotted;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        
   
}

nav.sps--blw .nav-link:hover{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em
}

.bg-img{
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    animation: grow 2s ease-out 0.8 forwards;
}

.justifi{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 45%;
    left: 20%;
    padding: 0 3.5rem;
    color: white;
    text-align: justify;
    
    
}

.text{
    margin-top:50px ;
    margin-right:10px ;
    position: absolute;
    top: 35%;
    padding: 0 3.5rem;
    color: white;
    text-align: justify;
}

.text h1{
    opacity: 0;
    animation: animate 3s ease forwards;
    text-shadow: white;
    

}

.text h1 span{
    background-color: black;
    padding: 0.3rem 1rem;
    display:flexbox;
    opacity: 0;
    transform: scale(0);
    animation: grow 2s ease-out 1 forwards;
    
}

.luz{
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}


.para{
    padding: 0;
    width: 28rem;
    font-size: 1.4rem;
    right: 10%;
    transform: translate(50px);
    margin-right: 25px;
    opacity: 0;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    animation: animated2 2s ease 2s forwards;
}

.Line{
    width: 100%;
    height: 0.01rem;
    position: absolute;
    background-color: white;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: grow2 2s ease 2s forwards;

}

.bton{
   
    margin-top: 255px;
    margin-left: 470px;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 0;
    transform: scale(0);
    animation: grow 2s ease-out 0.8 forwards;
    
}
.parrafo{
    color: white; 
    text-shadow: black 0.3em 0.3em 0.5em;
    background: rgba(128, 128, 128, 0.671);
    padding: 15px;
}
@keyframes grow2{
    100%{
        width: 92%;
    }
}

@keyframes grow{
    10%{
        transform: scale(0.1) ;
        opacity: 1;
    }
    100%{
        transform: scale(1) ;
        opacity: 1;
    }
}
@keyframes animate{
    100%{
        opacity: 1;
    }
}

@keyframes animated2{
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animated3{
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 952px){
    .namenu, ul, .respo{
        padding-left: 20px;
    }

    
    .namenu ul li a{
        font-size: 20px;
    }
    .text, .spa{
        margin-left: 10px;
        position: fixed;
        font-size: 10px;
        text-align: center;
        transition: all .5s;
    }
}

@media (max-width: 858px){
    
    #logofondo{
        margin-left: 35px;
    }
    .namenu{
        margin-left: 90px;
    }

    
    .namenu ul li a{
        font-size: auto;
    }
    .text, .spa{
        margin-left: 10px;
        position: fixed;
        font-size: 10px;
        text-align: center;
        transition: all .5s;
    }
    .logo{
        margin-left: 0px;
    }
    .aaa{
        margin-right: 0px;
    }
}
    @media (max-width: 600px){

        .respo{
            margin-top: 15px;
        }
    
        .namenu, ul, .respo{
            
            margin-left: 30px;
            position: absolute;
            font-size: 90%;
            text-align: center;
            transition: all .5s;
            margin-right: 0px;
        }
        .namenu ul li{
            
            margin: 40px;
            
        }
        .namenu ul li a{
            font-size: 12px;
            padding: 0;
            margin: 0;
           
        }
            
            .text{
                margin-left: 10px;
                float: inline-end;
                padding: 0;
                font-size: 90px;
                text-align: center;
                transition: all .5s;
                width: 0%;
            }
            
            .spa{
                margin-left: 10px;
                text-align: center;
                transition: all .5s;
                
            }
            .aaa{
                margin-right: 10px;
                
            }
            .textpara{
                position: absolute;
                font-size: 50px;
                padding: 0 3.5rem;
                color: white;
            }
            
    }

      .mans2{
        font-weight: 900;
        font-size: 40px;
        color: orange; /* Color del texto */
       
      }
       
      @media (max-width: 858px){
        .mans2{
            font-weight: 900;
            font-size: 10px;
            color: orange; 
      }
    }

.textjust{
    text-align: justify;
    line-height: 1.5;
    font-weight: 600;
    
}

.contenedor {
    display: flex; /* Utiliza flexbox para crear el diseño de dos columnas */  
    background-color: rgb(153, 151, 151);
  }
  
  .columna {
    flex: 1; /* Hace que las columnas sean flexibles y se expandan para llenar el espacio disponible */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado verti*/

  }

  .columna h1{
    color: orange;
    font-weight: bold;
    font-size: 60px;
   text-shadow: 2px 2px 3px white;
    background-clip: text;
    text-align: center;
    margin-left: 15%;
  }

  .columna h3 {
    line-height: 1.5;
    text-align: justify;
    margin-left: 15%;
    margin-right: 10%;

  }

  .grey{
    background-color: rgb(179, 176, 176);
  }
  .texxt{
    position: relative;
    height: 110%;
    padding-left: 10%;
    top: -74px;
    width: 75%;
  }

  .tamaño{
    margin-top: 6%;
  }

  .contenedor2 {
    display: flex; /* Utiliza flexbox para crear el diseño de dos columnas */
    align-items: center;
    justify-content: center; /* Centrado horizontal */
    border-bottom: solid 1px;
    background-color: rgb(179, 176, 176);
  }

  .textoblanco{
    text-decoration: solid 1px;
  }

  .slide-container {
    margin: 10%;
    width: 600px;
  }
  
  
  .tamañobronce{
    width: 200px;
    position: absolute;    
      top: -65px;
      left: -70px;
      margin-left: 40%;
  }
  
  .l-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    
    @media screen and (max-width: 760px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
  }
  
  
  
  .clash-card {
   
    background: white;
    width: 300px;
    height: 600px;
   padding: 3px;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    margin-top: 15%;
   
  }
  
  .clash-card:hover {
    transform: rotateX(7deg) translateY(-6px);
    width: 301px;
    box-shadow: inset 4px 2px 0 0 orange;
  }
 

  
  .clash-card:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }
 
  .barbarian{
    background-color: gray;
    border-radius: 15px;
  }
    
  .clash-card__level {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
   text-shadow: 1px 1px 1px white;
    color:#7f6851
  }
  .clash-card__level3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
   text-shadow: 1px 1px 1px rgb(17, 11, 11);
    color:#c1c1c2
  }
  .clash-card__level4 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
   text-shadow: 1px 1px 1px rgb(209, 191, 110);
    color:#e0bf5e
  }
  .clash-card__level5 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
   text-shadow: 1px 1px 1px rgb(183, 245, 177);
    color:#12a376
  }
  
   
  .clash-card__unit-name {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 2px;
    font-family: 'Roboto';
  }
  
  .clash-card__unit-description {
    padding: 10px;
    background-color: white;
    
    
  }
  
  .botonn{
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
      text-align:center;
      text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica,; 
        color: rgb(255, 255, 255);
      padding: 10px;
    border-radius: 25px;
    
    
    }
  
    .azul{
      background:grey;
      box-shadow: 0px 5px 0px 0px Grey;
    }
    
    .azul:hover{
      background: #FFFF;
      color: black;
      border: solid 0.1rem;
    }
    
    .azul:active{
      box-shadow: 0px 2px 0px 0px #2980B9;
    }

    .cartasjuntas{
        float: left;
    }

    .contenedorcompra {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Divide el espacio en cuatro columnas iguales */
        gap: 10px; /* Espacio entre columnas */
        margin-left: 10%;
        margin-right: 10%;
      }
      
      .columnac {
        padding: 10px; /* Espaciado interno */
      }
      
      .emcabezado{
       margin-top: 3%;
        text-align: center;
        
      }

      .emcabezado h1  {
        font-weight: bolder;
      }

      .color{
        color: orange;
      }

      .contenedorg {
        display: grid; /* Utiliza CSS Grid para crear el diseño de dos columnas */
        grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas iguales */
        

      }
      
      .columnag {
        padding-top: 25%;
        padding-right: 15%;
      }

      .mans{  
        position:relative;
        width: 98%;
      top: -65px;
      height: 108%;
      padding-left: 8%;
        
      }


      .mans3{  
        position:relative;
      top: -65px;
      height: 110%;
        width: 70%;
         margin-left: 10%;
      }

      .columnat{
        padding-top: 15%;
        padding-right: 15%;
        color: orange;
    font-weight: bold;
    font-size: 60px;
   text-shadow: 2px 2px 3px white;
    background-clip: text;
    text-align: center;
      }

      .ache3 {
        margin-right: 3%;
      }

      .columnas {
        display: flex;
        padding: 2%;
        background-color: grey;
        
    }
    
    .columna-izquierda {
        flex: 50%;
        padding-left: 40px;
        background-color: grey;
        margin-left: 2%;
        color: white;
    }
    
    .columna-derecha {
        flex: 50%;
        padding: 10px;
        color: white;

    }

    footer  {
      background-color: grey;
      
    }

    .centro {
      text-align: center;
     
    }

    .imagenes{
      margin-left: 2%;
    }

    .imagenes:hover{
      text-align: center;
      
      box-shadow: 2px 2px 2px 1px white;
    
    }

    .columna-derecha div h6{
      line-height: 1;
    }

   
  section {
    
      scroll-snap-align:center;
   
     
    }
    
    .section{
      scroll-snap-align: center;
   
    }

    .fade-in-box {
      opacity: 0;
      transform: translateY(20px); /* Opcional: inicia ligeramente desplazado hacia abajo */
      transition: opacity 2s, transform 1s; /* Transiciones suaves */
  }
  
  /* Muestra el div cuando está en el viewport */
  .fade-in-box.show {
      opacity: 1;
      transform: translateY(0);

  }

  body{
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    background-color: #636363;
  }
